<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<connectionStrings>
		<add name="EnsumexDB"
			 connectionString="Server=ensumex;Database=Ensumex;User Id=appuser;Password=ensumex;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>


	// Conección para la base de datos de Firebird, se utiliza para obtener los datos de la base de datos de SAE
	<connectionStrings>
		<add name="EnsumexDB"
			 connectionString="Server=192.168.1.163;Database=Ensumex;User Id=appuser;Password=ensumex;"
			 providerName="System.Data.SqlClient"/>

		<add name="FirebirdDB"
			 connectionString="User=SYSDBA;Password=masterkey;
       Database=SERVIDOR-ENSUMEX:C:\Program Files (x86)\Common Files\Aspel\Sistemas Aspel\SAE9.00\Empresa01\Datos\SAE90EMPRE01.FDB;
       Port=3050;Dialect=3;Charset=NONE;ServerType=0;"
			 providerName="FirebirdSql.Data.FirebirdClient"/>
	</connectionStrings>
</configuration>

